<div class="container-fluid d-flex justify-content-center">
    <div class="col-sm-10 col-11">
        <div class="row">
            <div class="col">
                <h4 class="mb-4 fw-bold">관리자 페이지</h4>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-header bg-success text-white fw-bold">관리 목록</div>
            <div class="card-body pb-0">
                <div class="row mb-3">
                    <form action="/orderManagement" method="get">
                        <button type="submit" class="btn btn-secondary btn-lg w-100 fw-bold shadow bg-gradient"
                                style="height: 150px;">
                            <i class="bi bi-clipboard-check-fill"></i> 주문 관리
                        </button>
                    </form>
                </div>
                <div class="row mb-3">
                    <form action="/userManagement" method="get">
                        <button type="submit" class="btn btn-secondary btn-lg w-100 fw-bold shadow bg-gradient"
                                style="height: 150px;">
                            <i class="bi bi-people-fill"></i> 회원 관리
                        </button>
                    </form>
                </div>
                <div class="row mb-3">
                    <form action="/categoryManagement" method="get">
                        <button type="submit" class="btn btn-secondary btn-lg w-100 fw-bold shadow bg-gradient"
                                style="height: 150px;">
                            <i class="bi bi-card-list"></i> 카테고리 관리
                        </button>
                    </form>
                </div>
                <div class="row mb-3">
                    <form action="/tagManagement" method="get">
                        <button type="submit" class="btn btn-secondary btn-lg w-100 fw-bold shadow bg-gradient"
                                style="height: 150px;">
                            <i class="bi bi-tag-fill"></i> 태그 관리
                        </button>
                    </form>
                </div>
                <div class="row mb-3">
                    <form action="/discountManagement" method="get">
                        <button type="submit" class="btn btn-secondary btn-lg w-100 fw-bold shadow bg-gradient"
                                style="height: 150px;">
                            <i class="bi bi-sliders"></i> 할인 관리
                        </button>
                    </form>
                </div>
                <div class="row mb-3">
                    <form action="/productRegistration" method="get">
                        <button type="submit" class="btn btn-secondary btn-lg w-100 fw-bold shadow bg-gradient"
                                style="height: 150px;">
                            <i class="bi bi-box-fill"></i> 상품 등록
                        </button>
                    </form>
                </div>
                <div class="row mb-3">
                    <form action="/noticeRegistration" method="get">
                        <button type="submit" class="btn btn-secondary btn-lg w-100 fw-bold shadow bg-gradient"
                                style="height: 150px;">
                            <i class="bi bi-list-columns-reverse"></i> 공지사항 등록
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>