<div class="container-fluid d-flex justify-content-center">
    <div class="col-md-8 mt-2">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="mb-4 fw-bold">장바구니</h3>
            </div>
        </div>
        <div class="card shadow mt-2">
            <h5 class="card-header bg-success text-white fw-semibold">장바구니 내역</h5>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="row mb-3">
                        <div class="col-auto">
                            <img src="/images/noddle" alt="상품 이미지" class="card-img img-fluid object-fit-cover"
                                 style="width: 100px; height: 100px;">
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="fw-bold">(브랜드) 상품 이름 <span class="text-muted">1box</span></div>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn-close"></button>
                                </div>
                            </div>
                            <div class="row">
                                <div>
                                <span class="badge rounded-pill text-bg-danger">태그1</span>
                                <span class="badge rounded-pill text-bg-info">태그2</span>
                                <span class="badge rounded-pill text-bg-warning">태그3</span>
                                </div>
                            </div>
                            <div class="row">
                                    <h8 class="text-decoration-line-through text-muted mb-0">10,000원</h8>
                                    <h5 class="fw-bold text-success">5,000원</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <h6 class="fw-bold">수량</h6>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <div class="input-group w-25">
                                <button id="minusBtn" class="btn btn-success btn-sm" type="button">-</button>
                                <input id="quantityInput" type="text" class="form-control form-control-sm text-center" value="1">
                                <button id="plusBtn" class="btn btn-success btn-sm" type="button">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <h6 class="fw-bold">
                                상품 금액
                            </h6>
                        </div>
                        <div class="col-6 text-end">
                            <h5 class="fw-bold text-end">
                                5,000원
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="row mb-3">
                        <div class="col-auto">
                            <img src="/images/beef" alt="상품 이미지" class="card-img img-fluid object-fit-cover"
                                 style="width: 100px; height: 100px;">
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="fw-bold">(국내산) 한우 A++ <span class="text-muted">500g</span></div>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn-close"></button>
                                </div>
                            </div>
                            <div class="row">
                                <div>
                                    <span class="badge rounded-pill text-bg-danger">태그1</span>
                                    <span class="badge rounded-pill text-bg-info">태그2</span>
                                    <span class="badge rounded-pill text-bg-warning">태그3</span>
                                </div>
                            </div>
                            <div class="row">
                                <h8 class="text-decoration-line-through text-muted mb-0">100,000원</h8>
                                <h5 class="fw-bold text-success">90,000원</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <h6 class="fw-bold">수량</h6>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <div class="input-group w-25">
                                <button id="minusBtn2" class="btn btn-success btn-sm" type="button">-</button>
                                <input id="quantityInput2" type="text" class="form-control form-control-sm text-center" value="1">
                                <button id="plusBtn2" class="btn btn-success btn-sm" type="button">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <h6 class="fw-bold">
                                상품 금액
                            </h6>
                        </div>
                        <div class="col-6 text-end">
                            <h5 class="fw-bold text-end">
                                90,000원
                            </h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="row mt-3 mb-3">
                    <div class="col-6">
                        <h6 class="fw-bold">
                            총 가격
                        </h6>
                    </div>
                    <div class="col-6">
                        <h3 class="fw-bold text-end">
                            300,000원
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-success fw-bold">주문하기</button>
                </div>
            </div>

        </div>
    </div>
</div>
