<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-5 d-flex align-items-center justify-content-center">
            <img src="/images/noddle" alt="상품 썸네일" class="img-fluid mb-5" style="width: 400px; height: 400px;">
        </div>
        <div class="col-md-7 mt-3">
            <h1 class="font-weight-bold mt-1 mb-4">상품 이름</h1>
            <div class="row mb-3">
                <div class="col-md-4 font-weight-bold">정가</div>
                <div class="col-md-8">10000원</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4 font-weight-bold">판매가</div>
                <div class="col-md-8 font-weight-bold" style="font-size: 23px; color: #2aa846;">8000원</div>
            </div>

            <hr class="my-3">

            <div class="row mb-3">
                <div class="col-md-4 font-weight-bold">브랜드</div>
                <div class="col-md-8">브랜드</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4 font-weight-bold">원산지</div>
                <div class="col-md-8">국내산</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4 font-weight-bold">중량/용량</div>
                <div class="col-md-8">500g</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4 font-weight-bold">포장 타입</div>
                <div class="col-md-8">박스</div>
            </div>

            <hr class="my-3">

            <div class="row mb-3">
                <div class="col-md-4 font-weight-bold">태그</div>
                <div class="col-md-8">태그1, 태그2, 태그3</div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4 font-weight-bold">카테고리</div>
                <div class="col-md-8">카테고리 이름</div>
            </div>

            <hr class="my-3">

            <div class="row mt-4 mb-2">
                <div class="col-md-7">
                    <button class="btn btn-success btn-block">주문하기</button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-secondary btn-block">❤</button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-outline-dark btn-block">장바구니</button>
                </div>
            </div>
        </div>
    </div>
</div>
