<div class="container mt-5 mb-5">
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 d-flex align-items-center justify-content-center">
            <img src="/images/noddle" alt="상품 썸네일" class="img-fluid mb-5" style="max-width: 100%; height: auto;">
        </div>
        <div class="col-lg-7 mt-3">
            <h1 class="fw-bold mt-1 mb-4">상품 이름</h1>
            <div class="row mb-3">
                <div class="col-md-4 fw-bold">정가</div>
                <div class="col-md-8">10000원</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4 fw-bold">판매가</div>
                <h4 class="col-md-8 fw-bold text-success">8000원</h4>
            </div>

            <hr class="my-3">

            <div class="row mb-3">
                <div class="col-md-4 fw-bold">브랜드</div>
                <div class="col-md-8">브랜드</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4 fw-bold">원산지</div>
                <div class="col-md-8">국내산</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4 fw-bold">중량/용량</div>
                <div class="col-md-8">500g</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4 fw-bold">포장 타입</div>
                <div class="col-md-8">박스</div>
            </div>

            <hr class="my-3">

            <div class="row mb-3">
                <div class="col-md-4 fw-bold">태그</div>
                <div class="col-md-8">태그1, 태그2, 태그3</div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4 fw-bold">카테고리</div>
                <div class="col-md-8">카테고리 이름</div>
            </div>

            <hr class="my-3">

            <div class="row mt-4 mb-2">
                <div class="col-md-7 mb-2">
                    <button class="btn btn-success w-100">주문하기</button>
                </div>
                <div class="col-md-2 mb-2">
                    <button class="btn btn-secondary w-100">❤</button>
                </div>
                <div class="col-md-3 mb-2">
                    <button class="btn btn-outline-dark w-100">장바구니</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
