<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객과 함께하는 Y-MART</title>
    <link rel="icon" type="image/png" href="/images/layout/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Lato', 'Nanum Gothic', 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', 'AppleGothic', 'Dotum', '돋움', sans-serif !important;
        }
        #logo {
            width: 192px;
            height: auto;
        }

        @media (max-width: 375px) {
            #logo {
                width: 130px;
                height: auto;
            }
        }
    </style>
</head>

<body>
<header class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgba(255, 255, 255, 0.8); padding: 0">
    <div class="container-fluid d-flex">
        <div class="col">
            <div class="row justify-content-between mb-1">
                <div class="col-auto mt-1">
                    <button class="btn btn-link mt-2" type="submit" data-bs-toggle="offcanvas"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="col-auto d-flex justify-content-center align-items-center">
                    <a class="navbar-brand" href="/">
                        <img id="logo" src="/images/layout/logo.png" alt="Logo"
                             class="object-fit-contain">
                    </a>
                </div>
                <div class="col-auto mt-1">
                    <form class="form-inline" action="/loginForm" method="GET" th:if="${!loggedIn}">
                        <button class="btn btn-link mt-2" type="submit">
                            <i class="bi bi-person-circle text-secondary fs-5"></i>
                        </button>
                    </form>
                    <button class="btn btn-link mt-2" type="submit" data-bs-toggle="offcanvas"
                            data-bs-target="#myPageContent" aria-controls="myPageContent" th:if="${loggedIn}">
                        <i class="bi bi-person-circle text-secondary fs-5"></i>
                    </button>
                </div>
            </div>
            <div class="container">
                <div class="row mb-2">
                    <form class="form-inline position-relative" th:action="@{/product/search}"
                          method="get">
                        <label for="search-input-small" class="visually-hidden">검색어 입력</label>
                        <input type="text" id="search-input-small" name="query"
                               class="form-control rounded-pill border border-success shadow-sm"
                               placeholder="검색어 입력" th:value="${search}">
                        <button class="btn position-absolute end-0 bottom-0 z-2 me-3" type="submit">
                            <i class="bi bi-search text-secondary fw-bold"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="main-content" style="margin-top: 120px !important;
                margin-bottom: 100px !important;">
    <main th:replace="~{${content}}"></main>
</div>

<footer class="footer mt-auto py-3 bg-dark">
    <div class="container text-light">
        <img src="/images/layout/copy_logo.png" alt="Logo" width="220" height="38"
             class="d-inline-block align-text-top">
        <br><br>
        <span class="text-secondary">Y-MART &copy; | 대표 : 김성진</span><br>
        <span class="text-secondary">(62010) 광주광역시 서구 서광주로 28 (금호동 974)</span><br>
        <span class="text-secondary">전화 : 062-1522-4077</span>
        <hr class="my-4 bg-light">
        <span class="text-secondary">Copyright &copy; Y-MART Corp. All Rights Reserved.</span>
    </div>
</footer>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="navbarSupportedContent" style="width: 250px">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Y-Mart 메뉴</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav fw-bold">
            <li class="nav-item">
                <a class="nav-link" href="/product/list">전체상품</a>
            </li>
            <li class="nav-item" th:if="${isUser}">
                <a class="nav-link" href="/starred/list">관심상품</a>
            </li>
            <li class="nav-item" th:if="${isUser}">
                <a class="nav-link" href="/cart">장바구니</a>
            </li>
            <li class="nav-item" th:if="${isUser}">
                <a class="nav-link" href="/order-list">주문목록</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/notice">공지사항</a>
            </li>
        </ul>
    </div>
</div>
<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="myPageContent" style="width: 250px">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">내 정보</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav fw-bold">
            <li class="nav-item" th:if="${isUser}">
                <a class="nav-link" th:href="${'/user/mypage'}">마이페이지</a>
            </li>
            <li class="nav-item" th:if="${isAdmin}">
                <a class="nav-link text-danger" href="/admin">
                    <i class="bi bi-wrench-adjustable"></i> 관리자</a>
            </li>
            <li class="nav-item">
                <form class="form-inline mt-4 my-2 my-lg-0" action="/logoutForm" method="POST">
                    <button class="btn btn-outline-secondary rounded-pill btn-sm my-2 my-sm-0 fw-bold" type="submit">
                        로그아웃 <i class="bi bi-box-arrow-right"></i></button>
                </form>
            </li>
        </ul>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        const currentPath = window.location.pathname;

        $('.navbar-nav a').each(function () {
            const linkPath = $(this).attr('href');
            if (currentPath === linkPath) {
                $(this).removeClass('text-secondary');
            } else {
                $(this).addClass('text-secondary');
            }
        });

        $(window).scroll(function () {
            const header = $('header');
            if ($(window).scrollTop() > 0) {
                header.addClass('shadow-sm');
            } else {
                header.removeClass('shadow-sm');
            }
        });
    });
</script>
</body>

</html>
