<script>
    document.addEventListener("DOMContentLoaded", function() {
        var dropdownButton = document.querySelector(".dropdown button");
        var dropdownContent = document.querySelector(".dropdown-content");

        dropdownButton.addEventListener("click", function() {
            dropdownContent.style.display = dropdownContent.style.display === "block" ? "none" : "block";
        });

        document.addEventListener("click", function(event) {
            var isDropdownButton = event.target.closest(".dropdown button");
            var isDropdownContent = event.target.closest(".dropdown-content");

            if (!isDropdownButton && !isDropdownContent) {
                dropdownContent.style.display = "none";
            }
        });
    });
</script>

<div class="container mt-2 mb-3">
    <div class="dropdown mb-4">
        <button class="btn btn-outline-success">▽ 상품 카테고리</button>
        <div class="dropdown-content">
            <div class="grid-container">
                <a href="/detail/1">▢ 채소 • 과일</a>
                <a href="/detail/1">▢ 쌀 • 잡곡 • 견과</a>
                <a href="/detail/1">▢ 축산 • 계란류</a>
                <a href="/detail/1">▢ 생선 • 해산물 • 건어물</a>
                <a href="/detail/1">▢ 냉장 • 냉동 간편식</a>
                <a href="/detail/1">▢ 반찬류</a>
                <a href="/detail/1">▢ 소스 • 양념 • 육수</a>
                <a href="/detail/1">▢ 장류 • 조미료 • 식용유</a>
                <a href="/detail/1">▢ 캔 • 통조림</a>
                <a href="/detail/1">▢ 면류 • 가공식품</a>
                <a href="/detail/1">▢ 스낵 • 안주류</a>
                <a href="/detail/1">▢ 커피 • 차 • 음료 • 생수</a>
                <a href="/detail/1">▢ 일반용품</a>
                <a href="/detail/1">▢ 주방용품</a>
                <a href="/detail/1">▢ 포장용기 • 일회용품</a>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="font-weight-bold ml-2">고객님의 즐겨찾는 목록</h4>
        <!-- 검색 폼 -->
        <form class="form-inline">
            <div class="input-group">
                <input class="form-control form-control-sm" type="search" placeholder="검색어 입력" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-outline-success btn-sm" type="submit">검색</button>
                </div>
            </div>
        </form>
    </div>


    <div class="row row-cols-custom g-3  text-center">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <form action="/detail/1" method="get">
                <button type="submit" class="btn btn-link p-0 border border-success">
                    <img src="/images/noddle" class="card-img-top img-fixed" alt="이미지 없음"></br>
                    <small class="text-muted mt-1 mb-1" th:text="브랜드">[브랜드]</small>
                    <p class="text-dark font-weight-bold mt-1 mb-1">삼양라면 5+1개입</p>
                    <h5 class="text-dark font-weight-bold mt-1 mb-1" th:text="99999원">99999원</h5>
                </button>
            </form>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <form action="/detail/1" method="get">
                <button type="submit" class="btn btn-link p-0 border border-success">
                    <img src="/images/ramen-box" class="card-img-top img-fixed" alt="이미지 없음"></br>
                    <small class="text-muted mt-1 mb-1" th:text="브랜드">[브랜드]</small>
                    <p class="text-dark font-weight-bold mt-1 mb-1">삼양라면 5개입*12</p>
                    <h5 class="text-dark font-weight-bold mt-1 mb-1" th:text="99999원">99999원</h5>
                </button>
            </form>
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <form action="/detail/1" method="get">
                <button type="submit" class="btn btn-link p-0 border border-success">
                    <img src="/images/carrot" class="card-img-top img-fixed" alt="이미지 없음"></br>
                    <small class="text-muted mt-1 mb-1" th:text="브랜드">[브랜드]</small>
                    <p class="text-dark font-weight-bold mt-1 mb-1">당근 5개입*12</p>
                    <h5 class="text-dark font-weight-bold mt-1 mb-1" th:text="99999원">99999원</h5>
                </button>
            </form>
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <form action="/detail/1" method="get">
                <button type="submit" class="btn btn-link p-0 border border-success">
                    <img src="/images/omok-eye" class="card-img-top img-fixed" alt="이미지 없음"></br>
                    <small class="text-muted mt-1 mb-1" th:text="브랜드">[브랜드]</small>
                    <p class="text-dark font-weight-bold mt-1 mb-1">오목눈이 5개입*12</p>
                    <h5 class="text-dark font-weight-bold mt-1 mb-1" th:text="99999원">99999원</h5>
                </button>
            </form>
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <form action="/detail/1" method="get">
                <button type="submit" class="btn btn-link p-0 border border-success">
                    <img src="/images/beef" class="card-img-top img-fixed" alt="이미지 없음"></br>
                    <small class="text-muted mt-1 mb-1" th:text="브랜드">[브랜드]</small>
                    <p class="text-dark font-weight-bold mt-1 mb-1">소고기 500g</p>
                    <h5 class="text-dark font-weight-bold mt-1 mb-1" th:text="99999원">99999원</h5>
                </button>
            </form>
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <form action="/detail/1" method="get">
                <button type="submit" class="btn btn-link p-0 border border-success">
                    <img src="/images/noddle" class="card-img-top img-fixed" alt="이미지 없음"></br>
                    <small class="text-muted mt-1 mb-1" th:text="브랜드">[브랜드]</small>
                    <p class="text-dark font-weight-bold mt-1 mb-1">라면 5개입*12</p>
                    <h5 class="text-dark font-weight-bold mt-1 mb-1" th:text="99999원">99999원</h5>
                </button>
            </form>
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <form action="/detail/1" method="get">
                <button type="submit" class="btn btn-link p-0 border border-success">
                    <img src="/images/noddle" class="card-img-top img-fixed" alt="이미지 없음"></br>
                    <small class="text-muted mt-1 mb-1" th:text="브랜드">[브랜드]</small>
                    <p class="text-dark font-weight-bold mt-1 mb-1">라면 5개입*12</p>
                    <h5 class="text-dark font-weight-bold mt-1 mb-1" th:text="99999원">99999원</h5>
                </button>
            </form>
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <form action="/detail/1" method="get">
                <button type="submit" class="btn btn-link p-0 border border-success">
                    <img src="/images/noddle" class="card-img-top img-fixed" alt="이미지 없음"></br>
                    <small class="text-muted mt-1 mb-1" th:text="브랜드">[브랜드]</small>
                    <p class="text-dark font-weight-bold mt-1 mb-1">라면 5개입*12</p>
                    <h5 class="text-dark font-weight-bold mt-1 mb-1" th:text="99999원">99999원</h5>
                </button>
            </form>
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <form action="/detail/1" method="get">
                <button type="submit" class="btn btn-link p-0 border border-success">
                    <img src="/images/noddle" class="card-img-top img-fixed" alt="이미지 없음"></br>
                    <small class="text-muted mt-1 mb-1" th:text="브랜드">[브랜드]</small>
                    <p class="text-dark font-weight-bold mt-1 mb-1">라면 5개입*12</p>
                    <h5 class="text-dark font-weight-bold mt-1 mb-1" th:text="99999원">99999원</h5>
                </button>
            </form>
        </div>


        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <form action="/detail/1" method="get">
                <button type="submit" class="btn btn-link p-0 border border-success">
                    <img src="/images/noddle" class="card-img-top img-fixed" alt="이미지 없음"></br>
                    <small class="text-muted mt-1 mb-1" th:text="브랜드">[브랜드]</small>
                    <p class="text-dark font-weight-bold mt-1 mb-1">라면 5개입*12</p>
                    <h5 class="text-dark font-weight-bold mt-1 mb-1" th:text="99999원">99999원</h5>
                </button>
            </form>
        </div>
    </div>
    <nav class="mt-4" aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">◀</a>
            </li>
            <li class="page-item"><a class="page-link text-success" href="#">1</a></li>
            <li class="page-item"><a class="page-link text-success" href="#">2</a></li>
            <li class="page-item"><a class="page-link text-success" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link text-success" href="#">▶</a>
            </li>
        </ul>
    </nav>
</div>