<div class="container-fluid mt-5 d-flex justify-content-center">
    <div class="col-md-6">
    <h2 class="mb-4 font-weight-bold">마이 페이지</h2>
        <div class="card mb-4">
            <h5 class="card-header">회원 정보</h5>
            <div class="card-body">
                <div class="row mb-3 border-bottom border-secondary">
                    <div class="col-6">
                        <label for="name" class="form-label">회원 이름:</label>
                    </div>
                    <div class="col-6">
                        <p id="name" class="form-control-static">홍길동</p>
                    </div>
                </div>
                <div class="row mb-3 border-bottom border-secondary">
                    <div class="col-6">
                        <label for="email" class="form-label">회원 이메일:</label>
                    </div>
                    <div class="col-6">
                        <p id="email" class="form-control-static">hong@example.com</p>
                    </div>
                </div>
                <div class="row mb-3 border-bottom border-secondary">
                    <div class="col-6">
                        <label for="company" class="form-label">상호 명:</label>
                    </div>
                    <div class="col-6">
                        <p id="company" class="form-control-static">ABC 주식회사</p>
                    </div>
                </div>
                <div class="row mb-3 border-bottom border-secondary">
                    <div class="col-6">
                        <label for="address" class="form-label">회원 주소:</label>
                    </div>
                    <div class="col-6">
                        <p id="address" class="form-control-static">서울특별시 강남구 역삼동 123-45</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="phone" class="form-label">휴대폰 번호:</label>
                    </div>
                    <div class="col-6">
                        <p id="phone" class="form-control-static">010-1234-5678</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
