<div class="container-fluid d-flex justify-content-center">
    <div class="col-sm-10 col-11">
        <div class="row">
            <div class="col">
                <h4 class="mb-4 fw-bold">공지사항</h4>
            </div>
            <div class="col-auto">
                <form th:action="@{/notice/modify/{id}(id=${notice_detail.noticeId})}" method="get"
                      id="noticeModifyForm">
                    <button type="submit" class="btn btn-sm btn-outline-secondary rounded-pill">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                </form>
            </div>
            <div class="col-auto">
                <form th:action="@{/notice/delete/{id}(id=${notice_detail.noticeId})}" method="post">
                    <button type="submit" class="btn btn-sm btn-outline-danger rounded-pill">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="row row-cols-1 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div class="col">
                            <h6 class="card-title fw-bold text-truncate" th:text="${notice_detail.title}"></h6>
                            <p class="card-text text-muted">
                                <span th:text="${#temporals.format(notice_detail.createdDate, 'yyyy. MM. dd. HH:mm')}"></span>
                            </p>
                            <hr class="border-top border-secondary">
                            <p class="card-text mt-2 mb-2" th:text="${notice_detail.content}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-secondary btn-sm mt-4" onclick="history.back()">목록으로</button>
    </div>
</div>
