<div class="container-fluid d-flex justify-content-center">
    <div class="col-sm-10 col-11">
        <div class="card shadow">
            <div class="card-header bg-success text-white fw-bold">
                관심상품
            </div>
            <div class="card-body pb-0">
                <div th:if="${#lists.isEmpty(starredProducts)}">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="text-center text-secondary py-5">
                                <i class="bi bi-bookmark display-1"></i>
                                <h5 class="fw-bold mt-3 mb-3">관심 상품이 비어 있습니다.</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:each="starredProduct : ${starredProducts}">
                    <div class="card border mb-3 z-1 shadow-sm">
                        <div class="position-absolute top-0 end-0 mt-2 z-3" style="margin-right: 18px;">
                            <form th:action="@{'/starred/delete/list/'+${starredProduct.productId}}" method="post">
                                <button type="submit" class="btn btn-link p-0">
                                    <i class="bi bi-heart-fill fs-5 text-danger"></i>
                                </button>
                            </form>
                        </div>
                        <div class="position-absolute bottom-0 end-0 me-3 mb-2 z-2">
                            <button type="button" class="btn btn-link p-0"
                                    data-bs-toggle="modal"
                                    data-bs-target="#myModal"
                                    th:data-item-id="${starredProduct.productId}"
                                    th:data-item-quantity=1>
                                <i class="bi bi-basket2-fill fs-3 text-secondary-emphasis"></i>
                            </button>
                        </div>
                        <a class="card-body d-flex justify-content-start p-2 text-decoration-none"
                           th:href="@{/product/{id}(id=${starredProduct.productId})}">
                            <div class="col-auto d-flex align-items-center">
                                <img th:src="@{'/images/' + ${starredProduct.thumbnailFileName}}"
                                     class="card-img-top object-fit-contain"
                                     alt="이미지 없음" style="height: 80px; width: 80px; padding: 8px;">
                            </div>
                            <div class="col d-flex flex-column p-1 ms-3 text-truncate">
                                    <span class="fw-bold mb-1" th:text="${starredProduct.brandName}"
                                          style="font-size: 17px;"></span>
                                <span class="fw-bold text-secondary text-truncate mb-1"
                                      th:text="${starredProduct.name}"
                                      style="font-size: 13px;"></span>
                                <span class="fw-bold text-truncate"
                                      th:text="${#numbers.formatInteger(starredProduct.sellingPrice, 3, 'COMMA') + '원'}"
                                      style="font-size: 18px;"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div th:unless="${#lists.isEmpty(starredProducts)}">
            <nav class="mt-4">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:if="${pageUtil.currentPage!=1}">
                        <a class="page-link text-success" th:href="@{/starred/list(page=0)}"
                           aria-disabled="true">
                            <i class="bi bi-chevron-double-left"></i>
                        </a>
                    </li>
                    <li class="page-item" th:if="${pageUtil.start!=1}">
                        <a class="page-link text-success"
                           th:href="@{/starred/list(page=${(pageUtil.start - pageUtil.MAX_PAGE) < 1 ? 0 : (pageUtil.start - pageUtil.MAX_PAGE)-1})}"
                           aria-disabled="true">
                            <i class="bi bi-chevron-left"></i>
                        </a>
                    </li>
                    <li class="page-item" th:each="page: ${#numbers.sequence(pageUtil.start, pageUtil.end)}"
                        th:classappend="${page == pageUtil.currentPage ? 'fw-bold disabled': ''}">
                        <a class="page-link text-success"
                           th:href="${page == pageUtil.currentPage ? '#' : '/starred/list?page=' + (page - 1)}"
                           th:text="${page}"
                           th:aria-disabled="${page == pageUtil.currentPage}">
                        </a>
                    </li>

                    <li class="page-item" th:if="${pageUtil.start+pageUtil.MAX_PAGE<pageUtil.totalPages}">
                        <a class="page-link text-success"
                           th:href="@{/starred/list(page=${pageUtil.start < pageUtil.end ? (pageUtil.start + pageUtil.MAX_PAGE)-1: '#'})}"
                           th:aria-disabled="${pageUtil.start+pageUtil.MAX_PAGE>pageUtil.totalPages}">
                            <i class="bi bi-chevron-right"></i>
                        </a>
                    </li>
                    <li class="page-item" th:if="${pageUtil.currentPage!=pageUtil.totalPages}">
                        <a class="page-link text-success" th:href="@{/starred/list(page=${pageUtil.totalPages - 1})}"
                           aria-disabled="true">
                            <i class="bi bi-chevron-double-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="modal fade modal-sheet p-4 mt-5" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title fw-bold" id="modalLabel">장바구니 추가</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="amountForm" method="post">
                    <div class="row mb-3">
                        <div class="col-5">
                            <label class="fw-bold" for="quantityInput">수량</label>
                        </div>
                        <div class="col-7">
                            <div class="input-group">
                                <button id="minusBtn" class="btn btn-success btn-sm" type="button">-
                                </button>
                                <input id="quantityInput" type="text" class="form-control form-control-sm text-center"
                                       name="quantity" value="1" min="1">
                                <button id="plusBtn" class="btn btn-success btn-sm" type="button">+
                                </button>
                            </div>
                        </div>
                    </div>
                    <button type="submit" id="submitButton" class="btn btn-success w-100">확인</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#minusBtn").click(decreaseQuantity);
        $("#plusBtn").click(increaseQuantity);
        $("#quantityInput").on('input', updateSubmitButtonState);
        $('#myModal').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget);
            const productId = button.data('item-id');
            const productQuantity = button.data('item-quantity');
            const formAction = '/cart/registerFromStarred';

            $('#amountForm')
                .append('<input type="hidden" name="productId" value="' + productId + '">')
                .attr('action', formAction);
            $('#quantityInput').val(productQuantity);
            updateSubmitButtonState();
        });

    });

    function decreaseQuantity() {
        const quantity = parseInt($("#quantityInput").val());
        if (quantity > 1) {
            $("#quantityInput").val(quantity - 1);
            updateSubmitButtonState();
        }
    }

    function increaseQuantity() {
        const quantity = parseInt($("#quantityInput").val());
        $("#quantityInput").val(quantity + 1);
        updateSubmitButtonState();
    }
    function updateSubmitButtonState() {
        const quantity = parseInt($("#quantityInput").val());
        if (quantity <= 0) {
            $("#submitButton").prop('disabled', true);
        } else {
            $("#submitButton").prop('disabled', false);
        }
    }
</script>