<div class="container-fluid d-flex justify-content-center">
    <div class="col-sm-10 col-11">
        <div class="row">
            <div class="col">
                <h4 class="fw-bold mb-4">즐겨찾는 상품</h4>
            </div>
        </div>
        <form id="cartForm" th:action="@{/addCart}" method="post">
            <div class="card shadow">
                <div class="card-header bg-success text-white fw-bold">공지사항</div>

                <div class="table-responsive">
                    <table class="table table-hover table-bordered mb-0 text-center">
                        <thead class="table-success">
                        <tr>
                            <th scope="col">체크박스</th>
                            <th scope="col">상품</th>
                            <th scope="col">금액</th>
                            <th scope="col">찜 삭제</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product : ${products}">
                            <td>
                                <input class="form-check-input" type="checkbox" th:value="${product.id}" checked>
                            </td>
                            <td>
                                <a class="btn p-0 border-0 bg-transparent"
                                   th:href="@{/productDetail/{id}(id=${product.id})}">
                                    <span class="fw-bold text-success" th:text="${'('+product.brand+')'}"></span>
                                    <span class="fw-bold" th:text="${product.name}"></span>
                                    <span class="text-muted" th:text="${product.weight}"></span>
                                </a>
                            </td>
                            <td th:text="${#numbers.formatInteger(product.price,3, 'COMMA')} + '원'"></td>
                            <td>
                                <button type="button" class="btn btn-sm btn-outline-danger"
                                        th:attr="data-bs-toggle='modal', data-bs-target='#deleteModal'+${product.id}">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success fw-bold w-100" type="submit">장바구니에 추가</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:each="product : ${products}" class="modal fade modal-sheet p-4 py-md-5" th:id="'deleteModal'+${product.id}" tabindex="-1"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header  border-bottom-0">
                <h5 class="modal-title" id="deleteModalLabel">즐겨찾기 삭제</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                즐겨찾기에서 제거하시겠습니까?
            </div>
            <div class="modal-footer border-0">
                <form th:action="@{/favoriteDelete}" method="post" class="w-100">
                    <input type="hidden" th:value="${product.id}" name="productId"/>
                    <div class="row">
                        <div class="col-7 pr-1">
                            <button type="submit" class="btn btn-danger w-100">삭제</button>
                        </div>
                        <div class="col-5 pl-1">
                            <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">취소</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
