<div class="container-fluid d-flex justify-content-center mb-3 z-1">
    <div class="col-sm-10 col-11">
        <div class="row">
            <div class="col">
                <h4 class="fw-bold mb-4">전체 상품</h4>
            </div>
            <div class="col-auto" th:if="${isAdmin}">
                <form th:action="@{/product/register}" method="get" id="productRegistrationForm">
                    <button type="submit" class="btn btn-sm btn-outline-secondary rounded-pill">
                        <i class="bi bi-plus-lg"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <button class="btn btn-success  btn-sm dropdown-toggle fw-bold" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    상품 카테고리
                </button>
                <ul class="dropdown-menu shadow w-75">
                    <div class="row mt-2" style="margin-left: 5px;">
                        <li th:each="category : ${categories}" class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <a th:href="@{/product/category/{id}(id=${category.productCategoryId})}"
                               class="dropdown-item mb-2">
                                <i class="text-success"></i> [[${category.name}]]
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
            <div class="col-auto">
                <form class="form-inline" th:action="@{/product/search}" method="get">
                    <label for="search-input" class="visually-hidden">검색어 입력</label>
                    <div class="input-group input-group-sm">
                        <input type="search" id="search-input" name="query" class="form-control" placeholder="검색어 입력">
                        <button class="btn btn-success input-group-append" type="submit"><i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row text-center">
            <div th:each="product : ${products}" class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2 mb-3">
                <form th:action="@{'/product/' + ${product.productId}}" method="get">
                    <div class="card h-100 border border-success shadow">
                        <img th:src="@{'/images/' +${product.thumbnailFileName}}"
                             class="card-img-top img-fluid object-fit-contain"
                             alt="이미지 없음" style="height: 210px; padding: 20px;">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <h6 class="text-muted mb-3" th:text="${'[' + product.brandName + ']'}"></h6>
                            <h6 class="card-title text-dark fw-bold mb-1" th:text="${product.name}"
                                style="height: 35px"></h6>
                            <h5 class="card-text text-success fw-bold mb-1"
                                th:text="${#numbers.formatInteger(product.sellingPrice,3, 'COMMA')} + '원'"
                                style="height: 35px"></h5>
                            <button type="submit" class="btn btn-link p-0 stretched-link"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <nav class="mt-4">
<!--            <ul class="pagination justify-content-center">-->
<!--                <li class="page-item" th:if="${pageUtil.currentPage!=1}">-->
<!--                    <a class="page-link text-success" th:href="@{/product/list(page=0)}"-->
<!--                       aria-disabled="true">-->
<!--                        <i class="bi bi-chevron-double-left"></i>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="page-item" th:if="${pageUtil.start!=1}">-->
<!--                    <a class="page-link text-success"-->
<!--                       th:href="@{/product/list(page=${(pageUtil.start - pageUtil.MAX_PAGE) < 1 ? 0 : (pageUtil.start - pageUtil.MAX_PAGE)-1})}"-->
<!--                       aria-disabled="true">-->
<!--                        <i class="bi bi-chevron-left"></i>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="page-item" th:each="page: ${#numbers.sequence(pageUtil.start, pageUtil.end)}"-->
<!--                    th:classappend="${page == pageUtil.currentPage ? 'fw-bold disabled': ''}">-->
<!--                    <a class="page-link text-success"-->
<!--                       th:href="${page == pageUtil.currentPage ? '#' : '/product/list?page=' + (page - 1)}"-->
<!--                       th:text="${page}"-->
<!--                       th:aria-disabled="${page == pageUtil.currentPage}">-->
<!--                    </a>-->
<!--                </li>-->

<!--                <li class="page-item" th:if="${pageUtil.start+pageUtil.MAX_PAGE<pageUtil.totalPages}">-->
<!--                    <a class="page-link text-success"-->
<!--                       th:href="@{/product/list(page=${pageUtil.start < pageUtil.end ? (pageUtil.start + pageUtil.MAX_PAGE)-1: '#'})}"-->
<!--                       th:aria-disabled="${pageUtil.start+pageUtil.MAX_PAGE>pageUtil.totalPages}">-->
<!--                        <i class="bi bi-chevron-right"></i>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="page-item" th:if="${pageUtil.currentPage!=pageUtil.totalPages}">-->
<!--                    <a class="page-link text-success" th:href="@{/product/list(page=${pageUtil.totalPages - 1})}"-->
<!--                       aria-disabled="true">-->
<!--                        <i class="bi bi-chevron-double-right"></i>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
        </nav>

    </div>
</div>

<div class="position-fixed bottom-0 end-0 mb-4 me-4 cart-button z-2" th:if="${isUser}">
    <a href="/cart" class="btn btn-success btn-lg rounded-pill py-2 opacity-75 shadow bg-gradient">
        <i class="bi bi-cart" style="font-size: 2.0rem;"></i>
    </a>
</div>