<div class="container-fluid d-flex justify-content-center mb-3">
    <div class="col-11">
        <div class="row" th:if="${isAdmin}">
            <div class="col">
                <h4 class="fw-bold mb-4">전체 상품</h4>
            </div>
            <div class="col-auto">
                <form th:action="@{/product/register}" method="get" id="productRegistrationForm">
                    <button type="submit" class="btn btn-sm btn-outline-secondary rounded-pill">
                        <i class="bi bi-plus-lg"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <button class="btn btn-success  btn-sm dropdown-toggle fw-bold" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    상품 카테고리
                </button>
                <ul class="dropdown-menu shadow w-75">
                    <div class="row mt-2" style="margin-left: 5px;">
                        <li th:each="category : ${categories}" class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <a th:href="@{/product/category/{id}(id=${category.productCategoryId})}"
                               class="dropdown-item mb-2">
                                <i class="text-success"></i> [[${category.name}]]
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>

        <div class="row d-flex justify-content-start">
            <div th:each="product : ${products}" class="col-6 col-sm-4 col-md-3 col-lg-2 px-1 my-2">
                <form th:action="@{'/product/' + ${product.productId}}" method="get">
                    <div class="card border-0 z-1">
                        <div class="border rounded-4 shadow-sm d-flex justify-content-center" style="height: 150px;">
                            <img th:if="${product.thumbnailFileName != null}"
                                 th:src="@{'/web/images/' + ${product.thumbnailFileName}}"
                                 class="img-fluid rounded border-0 rounded-4"
                                 alt="이미지 없음" style="height: 100%; width: auto; object-fit: contain; padding: 7px">
                            <img th:unless="${product.thumbnailFileName != null}"
                                 th:src="@{'/images/layout/no_image.png'}"
                                 class="card-img-top object-fit-contain"
                                 alt="이미지 없음" style="padding: 8px">
                        </div>

                        <!--찜 삭제-->
                        <button id="starredDeleteButton"
                                class="btn btn-link position-absolute end-0 z-2 starred-delete-button"
                                type="button"
                                th:data-product-id="${product.productId}"
                                style="bottom: 27%; display: none"
                                th:if="${isUser}">
                            <!-- if에 상품이 찜 되어 있는지 조건문 추가 후 display: none 삭제해주세여!!-->
                            <i class="bi bi-heart-fill text-danger" style="font-size: 18px;"></i>
                        </button>
                        <!--찜 등록-->
                        <button id="starredRegisterButton"
                                class="btn btn-link position-absolute end-0 z-2 starred-register-button"
                                type="button"
                                th:data-product-id="${product.productId}"
                                style="bottom: 27%"
                                th:if="${isUser}">
                            <!-- if에 상품이 찜 되어 있는지 조건문 추가 하셔야 합니다 !!!!-->
                            <i class="bi bi-heart text-secondary" style="font-size: 18px;"></i>
                        </button>

                        <div class="card-body d-flex flex-column p-2 ms-1">
                            <span id="brandName" class="text-dark mb-1 fw-bold" th:text="${product.brandName}"
                                  style="font-size: 14px"></span>
                            <span id="productName" class="text-muted mb-1 fw-bold text-truncate"
                                  th:text="${product.name}"
                                  style="font-size: 13px;"></span>
                            <span id="listPrice" class="text-secondary text-decoration-line-through"
                                  th:text="${#numbers.formatInteger(product.listPrice,3, 'COMMA')}"
                                  style="font-size: 13px;"></span>
                            <span id="sellingPrice" class="text-success fw-bold"
                                  th:text="${#numbers.formatInteger(product.sellingPrice,3, 'COMMA')} + '원'"
                                  style="font-size: 15px;"></span>
                            <button type="submit" class="btn btn-link p-0 stretched-link z-1"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

<!--        <nav class="mt-4">-->
<!--            <ul class="pagination justify-content-center">-->
<!--                <li class="page-item" th:if="${pageUtil.currentPage!=1}">-->
<!--                    <a class="page-link text-success" th:href="@{/product/list(page=0)}"-->
<!--                       aria-disabled="true">-->
<!--                        <i class="bi bi-chevron-double-left"></i>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="page-item" th:if="${pageUtil.start!=1}">-->
<!--                    <a class="page-link text-success"-->
<!--                       th:href="@{/product/list(page=${(pageUtil.start - pageUtil.MAX_PAGE) < 1 ? 0 : (pageUtil.start - pageUtil.MAX_PAGE)-1})}"-->
<!--                       aria-disabled="true">-->
<!--                        <i class="bi bi-chevron-left"></i>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="page-item" th:each="page: ${#numbers.sequence(pageUtil.start, pageUtil.end)}"-->
<!--                    th:classappend="${page == pageUtil.currentPage ? 'fw-bold disabled': ''}">-->
<!--                    <a class="page-link text-success"-->
<!--                       th:href="${page == pageUtil.currentPage ? '#' : '/product/list?page=' + (page - 1)}"-->
<!--                       th:text="${page}"-->
<!--                       th:aria-disabled="${page == pageUtil.currentPage}">-->
<!--                    </a>-->
<!--                </li>-->

<!--                <li class="page-item" th:if="${pageUtil.start+pageUtil.MAX_PAGE<pageUtil.totalPages}">-->
<!--                    <a class="page-link text-success"-->
<!--                       th:href="@{/product/list(page=${pageUtil.start < pageUtil.end ? (pageUtil.start + pageUtil.MAX_PAGE)-1: '#'})}"-->
<!--                       th:aria-disabled="${pageUtil.start+pageUtil.MAX_PAGE>pageUtil.totalPages}">-->
<!--                        <i class="bi bi-chevron-right"></i>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="page-item" th:if="${pageUtil.currentPage!=pageUtil.totalPages}">-->
<!--                    <a class="page-link text-success" th:href="@{/product/list(page=${pageUtil.totalPages - 1})}"-->
<!--                       aria-disabled="true">-->
<!--                        <i class="bi bi-chevron-double-right"></i>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </nav>-->
    </div>
</div>
<div class="position-fixed bottom-0 end-0 mb-4 me-4 cart-button z-2" th:if="${isUser}">
    <div class="row mb-2">
        <a href="/cart" class="btn btn-light rounded-pill shadow">
            <i class="bi bi-cart text-secondary" style="font-size: 1.2rem;"></i>
            <!-- 뱃지입니다  장바구니 수량을 가져와주세요-->
            <span class="badge rounded-pill text-bg-danger position-absolute top-0 start-50 mt-2"
                  style="font-size: 0.5rem" th:text='${cartCount > 99 ? "99+" : cartCount}'></span>
        </a>
    </div>
    <div class="row mb-2">
        <a href="/order-list" class="btn btn-light rounded-pill shadow">
            <i class="bi bi-pass text-secondary" style="font-size: 1.2rem;"></i>
        </a>
    </div>
    <div class="row mb-2">
        <a href="/starred/list" class="btn btn-light rounded-pill shadow">
            <i class="bi bi-heart-fill text-danger" style="font-size: 1.2rem;"></i>
        </a>
    </div>
</div>
<div class="position-fixed bottom-0 end-0 mb-4 me-4 z-2" th:if="${isAdmin}">
    <a href="/admin" class="btn btn-light rounded-pill shadow fw-bold">
        <i class="bi bi-gear-fill text-success"></i>
        관리자
    </a>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(document).on('click', '.starred-register-button', function () {
            const productId = $(this).data('product-id');
            const button = $(this);
            $.ajax({
                url: '/starred/ajax/register',
                method: 'POST',
                dataType: 'json',
                data: {productId: productId},
                success: function (response) {
                    if (response.result) {
                        button.hide();
                        button.siblings('.starred-delete-button').show();
                    } else {
                        console.error('등록 서비스 중 오류');
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });

        $(document).on('click', '.starred-delete-button', function () {
            const productId = $(this).data('product-id');
            const button = $(this);
            $.ajax({
                url: '/starred/ajax/delete',
                method: 'POST',
                dataType: 'json',
                data: {productId: productId},
                success: function (response) {
                    if (response.result) {
                        button.hide();
                        button.siblings('.starred-register-button').show();
                    } else {
                        console.error('삭제 서비스 중 오류');
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });
    });

</script>