<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 | Y-MART</title>
    <link rel="icon" type="image/png" href="/web/images/thumbnail">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        * {
            font-family: 'Lato', 'Nanum Gothic', 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', 'AppleGothic', 'Dotum', '돋움', sans-serif !important;
        }
    </style>
</head>
<body>

<div class="container-fluid d-flex justify-content-center mt-5">
    <div class="col-sm-8 col-md-7 col-lg-6 col-xl-5">
        <div class="text-center mb-4">
            <a href="/">
                <img src="/web/images/logo" alt="Y-MART 로고" class="my-4">
            </a>
        </div>
        <form action="/user/register" method="post" id="registerForm">
            <div class="mb-3">
                <label for="email" class="form-label">아이디 (이메일)</label>
                <div class="row">
                    <div class="col">
                        <input type="email" class="form-control" id="email" name="email"
                               placeholder="ex) ymart@example.com"
                               maxlength="50" required>
                        <input type="hidden" id="inputEmail" name="email">
                    </div>
                    <div class="col-auto">
                        <div class="btn btn-success rounded-3" id="emailCheckButton"><i
                                class="bi bi-person-check-fill"></i></div>
                    </div>
                </div>
                <div class="form-text mt-2" id="emailCheckMessage"></div>
            </div>
            <div class="mb-3 position-relative">
                <label for="userpasswd" class="form-label">비밀번호</label>
                <input type="password" class="form-control" id="userpasswd" name="loginPasswd"
                       placeholder="비밀번호를 입력하세요." maxlength="20" required>
                <button class="btn position-absolute end-0 bottom-0 z-2" id="passwordEyes">
                    <i id="passwordIcon" class="bi-eye-slash"></i>
                </button>
            </div>
            <div class="mb-5">
                <label for="userpasswd_confirm" class="form-label">비밀번호 확인</label>
                <input type="password" class="form-control" id="userpasswd_confirm" name="loginPasswdConfirm"
                       placeholder="비밀번호를 다시 입력하세요." maxlength="20" required>
                <div id="passwordMatchMessage" class="form-text text-danger mt-2" style="display: none;">* 비밀번호가 일치하지
                    않습니다.</div>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">이름</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="이름을 입력하세요." maxlength="20"
                       required>
            </div>
            <div class="mb-5">
                <label for="phone" class="form-label">전화번호</label>
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="ex) 01012345678"
                       maxlength="11" required>
            </div>
            <div class="mb-3">
                <label for="companyName" class="form-label">상호 명</label>
                <input type="text" class="form-control" id="companyName" name="companyName" placeholder="상호 명을 입력하세요."
                       maxlength="50" required>
            </div>
            <div class="mb-3 row">
                <div class="col-sm-3 mb-3 mb-md-0">
                    <label for="zipcode" class="form-label">우편번호</label>
                    <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="ex) 62010"
                           maxlength="100" required>
                </div>
                <div class="col-sm-9">
                    <label for="address" class="form-label">도로명 주소</label>
                    <input type="text" class="form-control" id="address" name="address" placeholder="도로명 주소를 입력하세요."
                           maxlength="100" required>
                </div>
            </div>
            <div class="mb-4">
                <label for="detailAddress" class="form-label">상세 주소</label>
                <input type="text" class="form-control" id="detailAddress" name="detailAddress"
                       placeholder="상세 주소를 입력하세요." maxlength="100" required>
            </div>
            <div class="row mb-5">
                <small id="emailCheckPrompt" class="fw-light text-secondary mb-1"></small>
                <div class="col-9">
                    <button type="submit" class="btn btn-success w-100 mb-3" id="registerBtn" disabled>회원가입</button>
                </div>
                <div class="col-3">
                    <a href="/loginForm" class="btn btn-secondary w-100">취소</a>
                </div>
            </div>
        </form>
        <p class="mt-5 mb-4 text-muted text-center" style="font-size: 12px;">Copyright &copy; Y-MART Corp. All Rights
            Reserved.</p>
    </div>
</div>
<div class="modal fade modal-sheet p-4 py-md-5" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="modalLabel">회원가입</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                회원가입을 하시겠습니까?
            </div>
            <div class="modal-footer border-0">
                <div class="w-100">
                    <div class="row">
                        <div class="col-7 pr-1">
                            <button type="button" class="btn btn-success w-100" id="confirmRegisterBtn">확인</button>
                        </div>
                        <div class="col-5 pl-1">
                            <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">취소</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-sheet p-4 py-md-5" id="emailModal" tabindex="-1" aria-labelledby="emailModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title fw-bold" id="emailModalLabel">회원가입</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mt-3 mb-3 py-0">
                사용 가능한 아이디입니다. 사용 하시겠습니까?
            </div>
            <div class="container-fluid">
                <div class="row mt-4 mb-2">
                    <div class="col-7">
                        <button id="confirmEmailButton" type="submit" class="btn btn-success w-100">확인
                        </button>
                    </div>
                    <div class="col-5">
                        <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">취소</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#email').focus();
        $('#emailCheckPrompt').text('* 회원가입 전에 아이디 중복을 확인하세요.');

        $('#passwordEyes').click(function () {
            event.preventDefault();
            togglePassword();
        });
        // 아이디 중복 확인
        $('#emailCheckButton').click(function () {
            var email = $('#email').val();
            var emailRegex = /\S+@\S+\.\S+/;

            if (!emailRegex.test(email)) {
                $('#emailCheckMessage')
                    .removeClass('text-secondary')
                    .addClass('text-danger')
                    .text('* 올바른 이메일 주소를 입력하세요.');
            } else {
                $('#emailCheckMessage').text('');
            }
            console.log(email);
            $.ajax({
                url: '/user/email-duplicate-check',
                method: 'POST',
                dataType: 'json',
                data: {email: email},
                success: function (response) {
                    console.log(response.available)
                    if (response.available) {
                        $('#emailCheckMessage')
                            .removeClass('text-secondary')
                            .addClass('text-danger')
                            .text('* 이미 존재하는 아이디입니다.');
                        $('#registerBtn').prop('disabled', true);
                    } else {
                        $('#emailModal').modal('show');
                        $('#emailCheckPrompt').text('');
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });
        $('#confirmEmailButton').click(function () {
            var email = $('#email').val();
            $('#inputEmail').val(email);
            $('#emailModal').modal('hide');
            $('#email').prop('disabled', true);
            $('#registerBtn').prop('disabled', false);
        });
    });

    // 비밀번호 토글 함수
    function togglePassword() {
        var passwordInput = $('#userpasswd');
        var passwordIcon = $('#passwordIcon');

        if (passwordInput.attr('type') === "password") {
            passwordInput.attr('type', 'text');
            passwordIcon.removeClass('bi-eye-slash').addClass('bi-eye-fill');
        } else {
            passwordInput.attr('type', 'password');
            passwordIcon.removeClass('bi-eye-fill').addClass('bi-eye-slash');
        }
    }

    // 비밀번호 확인 체크
    $('#userpasswd_confirm').on('keyup', function () {
        var password = $('#userpasswd').val();
        var confirmPassword = $(this).val();
        var passwordMatchMessage = $('#passwordMatchMessage');

        if (password === confirmPassword) {
            passwordMatchMessage.hide();
        } else {
            passwordMatchMessage.show();
        }
    });

    // 회원가입 버튼 클릭 시 모달 창 표시 및 입력 확인
    $('#registerBtn').click(function () {
        event.preventDefault();
        var name = $('#name').val();
        var phone = $('#phone').val();
        var companyName = $('#companyName').val();
        var zipcode = $('#zipcode').val();
        var address = $('#address').val();
        var email = $('#email').val();
        var password = $('#userpasswd').val();
        var confirmPassword = $('#userpasswd_confirm').val();

        // 입력값이 비어있는지 확인
        if (!name || !phone || !companyName || !zipcode || !address || !email || !password || !confirmPassword) {
            alert('필수 항목을 입력하세요.');
            return;
        }

        // 이메일 형식 확인
        var emailRegex = /\S+@\S+\.\S+/;
        if (!emailRegex.test(email)) {
            alert('올바른 이메일 주소를 입력하세요.');
            return;
        }

        // 비밀번호 일치 확인
        if (password !== confirmPassword) {
            alert('비밀번호가 일치하지 않습니다.');
            return;
        }

        // 모든 조건을 만족하면 모달 표시
        $('#myModal').modal('show');
    });

    // 모달 내 확인 버튼 클릭 시 회원가입 폼 제출
    $('#confirmRegisterBtn').click(function () {
        $('#registerForm').submit();
    });
</script>
</body>
</html>
