/* styles.css */

* {
    font-family: 'Lato', 'Nanum Gothic', 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', 'AppleGothic', 'Dotum', '돋움', sans-serif !important;
}

@media (min-width: 0px) {
    .row-cols-custom {
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: -0.5rem;
        margin-left: -0.5rem;
    }

    .row-cols-custom > * {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    @media (min-width: 376px) {
        .row-cols-custom > * {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    @media (min-width: 768px) {
        .row-cols-custom > * {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }
    }
    @media (min-width: 990px) {
        .row-cols-custom > * {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }
    @media (min-width: 1200px) {
        .row-cols-custom > * {
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
}

button.btn-link:hover {
    text-decoration: none;
}

.img-fixed {
    width: 210px;
    height: 210px;
    object-fit: cover;
    object-position: center;
}

.fixed-width {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    display: flex;
    align-items: flex-end;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: 1px solid transparent;
    writing-mode: horizontal-tb;
    white-space: nowrap;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-color: #ccc;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

.shadow-sm {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
