<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>고객과 함께하는 Y-MART</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        * {
            font-family: 'Lato', 'Nanum Gothic', 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', 'AppleGothic', 'Dotum', '돋움', sans-serif !important;
        }

        @media (min-width: 0px) {
            .row-cols-custom {
                flex-direction: row;
                flex-wrap: wrap;
                margin-right: -0.5rem;
                margin-left: -0.5rem;
            }

            .row-cols-custom > * {
                flex: 0 0 100%;
                max-width: 100%;
                padding-right: 0.5rem;
                padding-left: 0.5rem;
            }

            @media (min-width: 376px) {
                .row-cols-custom > * {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
            }

            @media (min-width: 768px) {
                .row-cols-custom > * {
                    flex: 0 0 33.333333%;
                    max-width: 33.333333%;
                }
            }
            @media (min-width: 990px) {
                .row-cols-custom > * {
                    flex: 0 0 25%;
                    max-width: 25%;
                }
            }
            @media (min-width: 1200px) {
                .row-cols-custom > * {
                    flex: 0 0 20%;
                    max-width: 20%;
                }
            }
        }

        button.btn-link:hover {
            text-decoration: none;
        }

        .img-fixed {
            width: 210px;
            height: 210px;
            object-fit: cover;
            object-position: center;
        }

    </style>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
            <img src="/image/logo.gif" alt="Logo" width="192" height="52" class="d-inline-block align-text-top"></a>
        <button class="navbar-toggler ml-auto mr-2" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">홈 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">마이 페이지</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">공지사항</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">전체 상품</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">카테고리</a>
                </li>
                <li th:if="${session.loggedIn}" class="nav-item">
                    <a class="nav-link" href="#">주문내역</a>
                </li>
                <li th:if="${session.loggedIn}" class="nav-item">
                    <a class="nav-link" href="#">장바구니</a>
                </li>
            </ul>
        </div>

        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-success my-2 my-sm-0" type="submit">로그인</button>
        </form>
    </nav>
</header>
<main th:replace="~{fragments :: main-content}">
    <div class="container mt-4 mb-3 text-center">
        <h2 class="font-weight-bold mb-3">찜 목록</h2>
        <div class="row mb-3">
            <div class="col mr-auto">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">카테고리</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">카테고리 1</a>
                        <a class="dropdown-item" href="#">카테고리 2</a>
                        <a class="dropdown-item" href="#">카테고리 3</a>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-end">
                <form>
                    <form>
                        <div class="input-group">
                            <input class="form-control" type="search" placeholder="검색어 입력" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-outline-success" type="submit">검색</button>
                            </div>
                        </div>
                    </form>
                </form>
            </div>
        </div>
        <div class="row row-cols-custom g-3">
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
                <form action="링크" method="get">
                    <button type="submit" class="btn btn-link p-0 border border-success">
                        <img src="/image/noddle.jpg" class="card-img-top img-fixed" alt="이미지 없음"></br>
                        <small class="text-muted mt-1 mb-1" th:text="브랜드">[브랜드]</small>
                        <p class="text-dark font-weight-bold mt-1 mb-1" th:text="상품 이름 + 제품 양">삼양라면 5+1개입</p>
                        <h5 class="text-dark font-weight-bold mt-1 mb-1" th:text="99999원">99999원</h5>
                    </button>
                </form>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
                <form action="링크" method="get">
                    <button type="submit" class="btn btn-link p-0 border border-success">
                        <img src="/image/라면박스.jpg" class="card-img-top img-fixed" alt="이미지 없음"></br>
                        <small class="text-muted mt-1 mb-1" th:text="브랜드">[브랜드]</small>
                        <p class="text-dark font-weight-bold mt-1 mb-1" th:text="상품 이름 + 제품 양">삼양라면 5개입*12</p>
                        <h5 class="text-dark font-weight-bold mt-1 mb-1" th:text="99999원">99999원</h5>
                    </button>
                </form>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
                <form action="링크" method="get">
                    <button type="submit" class="btn btn-link p-0 border border-success">
                        <img src="/image/당근.jpg" class="card-img-top img-fixed" alt="이미지 없음"></br>
                        <small class="text-muted mt-1 mb-1" th:text="브랜드">[브랜드]</small>
                        <p class="text-dark font-weight-bold mt-1 mb-1" th:text="상품 이름 + 제품 양">당근 5개입*12</p>
                        <h5 class="text-dark font-weight-bold mt-1 mb-1" th:text="99999원">99999원</h5>
                    </button>
                </form>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
                <form action="링크" method="get">
                    <button type="submit" class="btn btn-link p-0 border border-success">
                        <img src="/image/오목눈이.jpg" class="card-img-top img-fixed" alt="이미지 없음"></br>
                        <small class="text-muted mt-1 mb-1" th:text="브랜드">[브랜드]</small>
                        <p class="text-dark font-weight-bold mt-1 mb-1" th:text="상품 이름 + 제품 양">오목눈이 5개입*12</p>
                        <h5 class="text-dark font-weight-bold mt-1 mb-1" th:text="99999원">99999원</h5>
                    </button>
                </form>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
                <form action="링크" method="get">
                    <button type="submit" class="btn btn-link p-0 border border-success">
                        <img src="/image/소고기.jpg" class="card-img-top img-fixed" alt="이미지 없음"></br>
                        <small class="text-muted mt-1 mb-1" th:text="브랜드">[브랜드]</small>
                        <p class="text-dark font-weight-bold mt-1 mb-1" th:text="상품 이름 + 제품 양">소고기 500g</p>
                        <h5 class="text-dark font-weight-bold mt-1 mb-1" th:text="99999원">99999원</h5>
                    </button>
                </form>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
                <form action="링크" method="get">
                    <button type="submit" class="btn btn-link p-0 border border-success">
                        <img src="/image/noddle.jpg" class="card-img-top img-fixed" alt="이미지 없음"></br>
                        <small class="text-muted mt-1 mb-1" th:text="브랜드">[브랜드]</small>
                        <p class="text-dark font-weight-bold mt-1 mb-1" th:text="상품 이름 + 제품 양">라면 5개입*12</p>
                        <h5 class="text-dark font-weight-bold mt-1 mb-1" th:text="99999원">99999원</h5>
                    </button>
                </form>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
                <form action="링크" method="get">
                    <button type="submit" class="btn btn-link p-0 border border-success">
                        <img src="/image/noddle.jpg" class="card-img-top img-fixed" alt="이미지 없음"></br>
                        <small class="text-muted mt-1 mb-1" th:text="브랜드">[브랜드]</small>
                        <p class="text-dark font-weight-bold mt-1 mb-1" th:text="상품 이름 + 제품 양">라면 5개입*12</p>
                        <h5 class="text-dark font-weight-bold mt-1 mb-1" th:text="99999원">99999원</h5>
                    </button>
                </form>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
                <form action="링크" method="get">
                    <button type="submit" class="btn btn-link p-0 border border-success">
                        <img src="/image/noddle.jpg" class="card-img-top img-fixed" alt="이미지 없음"></br>
                        <small class="text-muted mt-1 mb-1" th:text="브랜드">[브랜드]</small>
                        <p class="text-dark font-weight-bold mt-1 mb-1" th:text="상품 이름 + 제품 양">라면 5개입*12</p>
                        <h5 class="text-dark font-weight-bold mt-1 mb-1" th:text="99999원">99999원</h5>
                    </button>
                </form>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
                <form action="링크" method="get">
                    <button type="submit" class="btn btn-link p-0 border border-success">
                        <img src="/image/noddle.jpg" class="card-img-top img-fixed" alt="이미지 없음"></br>
                        <small class="text-muted mt-1 mb-1" th:text="브랜드">[브랜드]</small>
                        <p class="text-dark font-weight-bold mt-1 mb-1" th:text="상품 이름 + 제품 양">라면 5개입*12</p>
                        <h5 class="text-dark font-weight-bold mt-1 mb-1" th:text="99999원">99999원</h5>
                    </button>
                </form>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
                <form action="링크" method="get">
                    <button type="submit" class="btn btn-link p-0 border border-success">
                        <img src="/image/noddle.jpg" class="card-img-top img-fixed" alt="이미지 없음"></br>
                        <small class="text-muted mt-1 mb-1" th:text="브랜드">[브랜드]</small>
                        <p class="text-dark font-weight-bold mt-1 mb-1" th:text="상품 이름 + 제품 양">라면 5개입*12</p>
                        <h5 class="text-dark font-weight-bold mt-1 mb-1" th:text="99999원">99999원</h5>
                    </button>
                </form>
            </div>
        </div>


    </div>
</main>

<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
        <img src="/image/copy_logo.png" alt="Logo" width="220" height="38"
             class="d-inline-block align-text-top"></a>
        <br><br>
        <span class="text-muted">Y-MART &copy; | 대표 : 김성진</span><br>
        <span class="text-muted">(62010) 광주광역시 서구 서광주로 28 (금호동 974)</span><br>
        <span class="text-muted">전화 : 062-1522-4077</span>
        <hr class="my-4 bg-secondary">
        <span class="text-muted">Copyright &copy; Y-MART Corp. All Rights Reserved.</span>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
