<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>고객과 함께하는 Y-MART</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        * {
            font-family: 'Lato', 'Nanum Gothic', 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', 'AppleGothic', 'Dotum', '돋움', sans-serif !important;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
            <img src="/image/logo.gif" alt="Logo" width="192" height="52" class="d-inline-block align-text-top"></a>
        <button class="navbar-toggler ml-auto mr-2" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">홈 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">주문 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">상품 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">사용자 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">할인 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">카테고리</a>
                </li>

            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-success my-2 my-sm-0" type="submit">로그인</button>
        </form>
    </nav>
</header>
<main th:replace="~{fragments :: main-content}"><div class="container mt-4 mb-3">
    <h1>관리자 로그인 후 페이지</h1>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-3">
        <th:block th:each="product : ${products}">
            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="100"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                         preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <th:block th:if="${product.productImage != null}">
                            <image th:src="@{/resources/{productImage}(productImage=${product.productImage})}" height="100%" width="100%"
                                   preserveAspectRatio="xMidYMid slice"></image>
                        </th:block>
                        <th:block th:unless="${product.productImage != null}">
                            <image src="@{/resources/no-image.png}" height="100%" width="100%"
                                   preserveAspectRatio="xMidYMid slice"></image>
                        </th:block>
                    </svg>

                    <div class="card-body">
                        <p class="card-text" th:text="${product.modelName}"></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a th:href="@{/productDetail(productId=${product.productId})}" class="btn btn-sm btn-outline-secondary">View</a>
                            </div>
                            <small class="text-muted" th:text="${product.unitCost + '원'}">99999원</small>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
    <p>test</p>
    <p>test</p>
    <p>test</p>
</div></main>

<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
        <img src="/image/copy_logo.png" alt="Logo" width="220" height="38" class="d-inline-block align-text-top"></a>
        <br><br>
        <span class="text-muted">Y-MART &copy;  |  대표 : 김성진</span><br>
        <span class="text-muted">(62010) 광주광역시 서구 서광주로 28 (금호동 974)</span><br>
        <span class="text-muted">전화 : 062-1522-4077</span>
        <hr class="my-4 bg-secondary">
        <span class="text-muted">Copyright &copy; Y-MART Corp. All Rights Reserved.</span>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>
