<div class="container-fluid d-flex justify-content-center">
    <div class="col-sm-10 col-11">
        <div class="row align-items-center">
            <div class="col">
                <h4 class="mb-4 fw-bold">회원 정보 수정</h4>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-header bg-success text-white fw-bold">회원 정보</div>
            <div class="card-body pb-0">
                <form th:action="@{/user/modify/{id}(id=${user.id})}" th:object="${UserDTO}" method="post">
                    <div class="row mb-3 border-bottom">
                        <div class="col-6">
                            <label for="name" class="form-label fw-bold">회원 이름</label>
                        </div>
                        <div class="col-6 mb-3">
                            <input type="text" class="form-control" id="name" th:value="${user.name}">
                        </div>
                    </div>
                    <div class="row mb-3 border-bottom">
                        <div class="col-6">
                            <label for="phone" class="form-label fw-bold">전화번호</label>
                        </div>
                        <div class="col-6 mb-3">
                            <input type="tel" class="form-control" id="phone" th:value="${user.phone}">
                        </div>
                    </div>
                    <div class="row mb-3 border-bottom">
                        <div class="col-6">
                            <label for="email" class="form-label fw-bold">회원 이메일</label>
                        </div>
                        <div class="col-6  mb-3">
                            <input type="email" class="form-control" id="email" th:value="${user.email}">
                        </div>
                    </div>
                    <div class="row mb-3 border-bottom">
                        <div class="col-6">
                            <label for="company" class="form-label fw-bold">상호 명</label>
                        </div>
                        <div class="col-6 mb-3">
                            <input type="text" class="form-control" id="company" th:value="${user.companyName}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="zipcode" class="form-label fw-bold">우편번호</label>
                        </div>
                        <div class="col-6 mb-3">
                            <input type="text" class="form-control" id="zipcode" th:value="${user.zipcode}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="address" class="form-label fw-bold">도로명 주소</label>
                        </div>
                        <div class="col-6 mb-3">
                            <input type="text" class="form-control" id="address" th:value="${user.address}">
                        </div>
                    </div>
                    <div class="row mb-3 border-bottom">
                        <div class="col-6">
                            <label for="detail_address" class="form-label fw-bold">상세 주소</label>
                        </div>
                        <div class="col-6 mb-3">
                            <input type="text" class="form-control" id="detail_address" th:value="${user.detailAddress}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-7">
                            <button type="submit" class="btn btn-danger text-white w-100" id="openModalBtn">수정</button>
                        </div>
                        <div class="col-5">
                            <button type="button" class="btn btn-secondary w-100" onclick="history.back()">취소</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-sheet p-4 py-md-5" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="exampleModalLabel">업데이트</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-0">
                정보를 수정 하시겠습니까?
            </div>
            <div class="container-fluid">
                <div class="row mt-4 mb-2">
                    <div class="col-7">
                        <button type="button" class="btn btn-success w-100" id="confirmModifyBtn">확인</button>
                    </div>
                    <div class="col-5">
                        <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">취소</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    // 모달 열기 버튼에 이벤트 리스너 추가
    $('#openModalBtn').click(function (event) {
        event.preventDefault(); // 이벤트 기본 동작 방지

        var name = $('#name').val();
        var email = $('#email').val();
        var companyName = $('#company').val();
        var zipcode = $('#zipcode').val();
        var address = $('#address').val();
        var phone = $('#phone').val();
        // 입력값이 비어있는지 확인
        if (!name || !phone || !companyName || !zipcode || !address || !email ) {
            alert('필수 항목을 입력하세요.');
            return;
        }

        $('#myModal').modal('show');
    });

    // 확인 버튼에 이벤트 리스너 추가
    $('#confirmModifyBtn').click(function (event) {
        $('#updateForm').submit();
    });
</script>