<div class="container-fluid d-flex justify-content-center">
    <div class="col-11">
        <div class="card shadow">
            <div class="card-header bg-success text-white fw-bold">장바구니</div>
            <div class="card-body pb-0">
                <div th:if="${#lists.isEmpty(cartList)}">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="text-center text-secondary py-5">
                                <i class="bi bi-cart display-1"></i>
                                <h5 class="fw-bold mt-3 mb-3">장바구니가 비어 있습니다.</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:each="item, itemStat : ${cartList}" th:id="'cartItem' + ${itemStat.index}">
                    <div class="card border-0 mb-2 totalPrice">
                        <div class="card-body p-0 d-flex justify-content-start">
                            <div class="col-auto">
                                <div class="border rounded-4 shadow-sm d-flex justify-content-center"
                                     style="height: 90px;">
                                    <a th:href="@{/product/{id}(id=${item.productId})}"
                                       class="btn p-0 border-0 bg-transparent">
                                        <img th:src="@{'/images/' +${item.thumbnailFileName}}"
                                             class="card-img object-fit-contain"
                                             alt="이미지 없음"
                                             style="height: 100%; width: auto; object-fit: contain; padding: 7px">
                                    </a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card-body d-flex flex-column p-0 ms-2">
                                    <span class="fw-bold text-success text-truncate" th:text="${item.brandName}"
                                          style="font-size: 12px"></span>
                                    <span class="fw-bold text-truncate" th:text="${item.productName}"
                                          style="font-size: 16px"></span>
                                    <span class="text-secondary" th:text="${'수량 ' + item.productQuantity+'개'}"
                                          style="font-size: 12px"></span>
                                    <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal"
                                            data-bs-target="#myModal"
                                            th:data-item-shopping-cart-id="${item.shoppingCartId}"
                                            th:data-item-id="${item.productId}"
                                            th:data-item-quantity="${item.productQuantity}">
                                        수량 변경
                                    </button>
                                </div>
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn-close p-2"
                                        data-bs-toggle="modal" data-bs-target="#deleteModal"
                                        th:data-item-shopping-cart-id="${item.shoppingCartId}"
                                        th:data-item-id="${item.productId}">
                                </button>
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="col">
                                <span class="fw-bold" style="font-size: 15px">상품 금액</span>
                            </div>
                            <div class="col-auto">
                                <h5 class="fw-bold text-end product-price"
                                    th:text="${#numbers.formatInteger(item.sellingPrice * item.productQuantity, 3, 'COMMA') + '원'}"></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:unless="${#lists.isEmpty(cartList)}">
                <div class="card-footer">
                    <div class="row mt-3 mb-3">
                        <div class="col">
                            <h6 class="fw-bold">
                                총 가격
                            </h6>
                        </div>
                        <div class="col-auto">
                            <h3 id="totalPrice" class="fw-bold text-end total-price"></h3>
                        </div>
                    </div>
                    <div class="row mb-1" id="maxPriceText">
                        <span class="text-secondary" style="font-size: 15px">* 최소 주문 금액은 50,000원 입니다.</span>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <form th:action="@{/order-list/order-address}" method="get" id="orderForm">
                                <button type="submit" class="btn btn-success w-100 fw-bold">주문하기</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-sheet p-4 mt-5" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title fw-bold" id="modalLabel">수량 변경</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="amountForm" method="post">
                    <div class="row mb-3">
                        <div class="col-5">
                            <label class="fw-bold" for="quantityInput">수량</label>
                        </div>
                        <div class="col-7">
                            <div class="input-group">
                                <button id="minusBtn" class="btn btn-success btn-sm" type="button">-
                                </button>
                                <input id="quantityInput" type="text" class="form-control form-control-sm text-center"
                                       name="quantity" value="1" min="1">
                                <button id="plusBtn" class="btn btn-success btn-sm" type="button">+
                                </button>
                            </div>
                            <input type="hidden" name="shoppingCartId" id="hiddenShoppingCartId">
                            <input type="hidden" name="productId" id="hiddenProductId">
                        </div>
                    </div>
                    <button type="submit" id="submitButton" class="btn btn-success w-100">확인</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-sheet p-4 py-md-5" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title fw-bold" id="deleteModalLabel">상품 삭제 확인</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mt-3 py-0">
                장바구니에서 상품을 삭제하시겠습니까?
            </div>

            <div class="row p-3">
                <div class="col-7">
                    <form id="deleteForm" method="post">
                        <button type="submit" class="btn btn-danger w-100">삭제</button>
                    </form>
                </div>
                <div class="col-5">
                    <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // 총 가격 계산
        calculateAndUpdateTotalPrice();

        $("#minusBtn").click(decreaseQuantity);
        $("#plusBtn").click(increaseQuantity);
        $("#quantityInput").on('input', updateSubmitButtonState);
        $('#myModal').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget);
            const productId = button.data('item-id');
            const shoppingCartId = button.data('item-shopping-cart-id');
            const productQuantity = button.data('item-quantity');
            const formAction = '/cart/modify';

            $('#amountForm').attr('action', formAction);
            $('#quantityInput').val(productQuantity);
            $('#hiddenProductId').val(productId);
            $('#hiddenShoppingCartId').val(shoppingCartId);
            updateSubmitButtonState();
        });
        $('#deleteModal').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget);
            const shoppingCartId = button.data('item-shopping-cart-id');
            const productId = button.data('item-id');
            const formAction = '/cart/delete/' + shoppingCartId + '/' + productId;

            $('#deleteForm').attr('action', formAction);
        });
    });

    // 총 가격을 계산하고 업데이트하는 함수
    function calculateAndUpdateTotalPrice() {
        let totalPrice = 0;

        $('.totalPrice').each(function () {
            const productPriceString = $(this).find('.product-price').text().replace('원', '').replace(/,/g, '').trim();
            const productPrice = parseInt(productPriceString);
            totalPrice += productPrice;
        });

        $('.total-price').text(totalPrice.toLocaleString() + '원');

        if (totalPrice < 50000) {
            $('#orderForm button[type="submit"]').prop('disabled', true);
            $('#maxPriceText').show();
        } else {
            $('#orderForm button[type="submit"]').prop('disabled', false);
            $('#maxPriceText').hide();
        }
    }

    function decreaseQuantity() {
        const quantity = parseInt($("#quantityInput").val());
        if (quantity > 1) {
            $("#quantityInput").val(quantity - 1);
            updateSubmitButtonState();
        }
    }

    function increaseQuantity() {
        const quantity = parseInt($("#quantityInput").val());
        $("#quantityInput").val(quantity + 1);
        updateSubmitButtonState();
    }

    function updateSubmitButtonState() {
        const quantity = parseInt($("#quantityInput").val());
        if (quantity <= 0) {
            $("#submitButton").prop('disabled', true);
        } else {
            $("#submitButton").prop('disabled', false);
        }
    }
</script>