<div class="container-fluid d-flex justify-content-center">
    <div class="col-sm-10 col-11">
        <div class="row align-items-center">
            <div class="col">
                <h4 class="mb-4 fw-bold">주문 목록</h4>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-header bg-success text-white fw-bold">주문 목록</div>
            <div class="card-body pb-0">
                <div th:each="order : ${orderList}">
                    <div class="container-fluid rounded border mb-3">
                        <form th:action="@{/orderDetail/{orderId}(orderId=${order.orderId})}" method="get">
                            <button type="submit" class="btn p-0 border-0 bg-transparent w-100">
                                <div class="row mt-2 mb-3 border-bottom">
                                    <div class="col">
                                        <h5 class="fw-bold text-start" th:text="${order.day}"></h5>
                                    </div>
                                    <div class="col-auto">
                                        <i class="bi bi-chevron-right"></i>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col">
                                        <h6 class="fw-bold text-start">주문 상태</h6>
                                    </div>
                                    <div class="col-auto">
                                        <h6 class="fw-bold" th:text="${order.status}"
                                            th:class="${order.status == '승인 완료'} ? 'text-success fw-bold' :
                                           (${order.status == '승인 거절'} ? 'text-danger fw-bold' : 'text-secondary fw-bold')"></h6>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-6">
                                        <h6 class="fw-bold text-start">주문 금액</h6>
                                    </div>
                                    <div class="col-6 text-end">
                                        <h5 class="fw-bold"
                                            th:text="${#numbers.formatInteger(order.totalPrice,3, 'COMMA')+'원'}"></h5>
                                    </div>
                                </div>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
