<div class="container-fluid d-flex justify-content-center">
    <div class="col-sm-10 col-11">
        <div class="row align-items-center">
            <div class="col">
                <h4 class="mb-4 fw-bold">장바구니</h4>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-header bg-success text-white fw-bold">장바구니 내역</div>
            <div class="card-body pb-0">
                <div th:each="item, itemStat : ${cartList}" th:id="'cartItem' + ${itemStat.index}">
                    <div class="container-fluid rounded border mb-3">
                        <div class="row mt-2 mb-3">
                            <div class="col-auto">
                                <a th:href="@{'/productDetail/' + ${item.id}}" class="btn p-0 border-0 bg-transparent">
                                    <img th:src="${item.image}" alt="상품 이미지" class="card-img img-fluid object-fit-cover" style="width: 100px; height: 100px;">
                                </a>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <a th:href="@{'/productDetail/' + ${item.id}}" class="btn p-0 border-0 bg-transparent">
                                            <span class="fw-bold text-success" th:text="${'('+item.brand+')'}"></span>
                                            <span class="fw-bold" th:text="${item.name}"></span>
                                            <span class="text-muted" th:text="${item.option}"></span>
                                        </a>
                                    </div>
                                    <div class="col-auto">
                                        <form th:action="@{'/cart/delete/'+ ${item.id}}" method="post">
                                            <button type="submit" class="btn-close"></button>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div th:each="tag : ${item.tags}" class="badge rounded-pill text-bg-success"
                                             th:text="${tag}"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <h8 class="text-decoration-line-through text-muted mb-0"
                                        th:text="${#numbers.formatInteger(item.originalPrice,3, 'COMMA')} + '원'"></h8>
                                    <h5 id="salePrice" class="fw-bold text-success salePrice"
                                        th:text="${#numbers.formatInteger(item.discountedPrice,3, 'COMMA')} + '원'"></h5>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <h6 class="fw-bold">수량</h6>
                            </div>
                            <div class="col-auto" style="width: 150px;">
                                <div class="input-group">
                                    <button class="btn btn-success btn-sm decrement-btn" type="button">-</button>
                                    <input type="text" class="form-control form-control-sm quantity-input text-center" th:value="${item.quantity}" readonly>
                                    <button class="btn btn-success btn-sm increment-btn" type="button">+</button>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-6">
                                <h6 class="fw-bold">상품 금액</h6>
                            </div>
                            <div class="col-6 text-end">
                                <h4 class="fw-bold text-end product-price" th:text="${#numbers.formatInteger(item.discountedPrice * item.quantity, 3, 'COMMA') + '원'}"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="row mt-3 mb-3">
                    <div class="col-6">
                        <h6 class="fw-bold">
                            총 가격
                        </h6>
                    </div>
                    <div class="col-6">
                        <h3 id="totalPrice" class="fw-bold text-end total-price"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <form th:action="@{/order}" method="get" id="orderForm">
                            <button type="submit" class="btn btn-success w-100 fw-bold">주문하기</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // 총 가격을 계산하고 업데이트하는 함수
        function calculateAndUpdateTotalPrice() {
            var totalPrice = 0;

            $('.card-body .container-fluid').each(function () {
                var productPriceString = $(this).find('.product-price').text().replace('원', '').replace(/,/g, '').trim();
                var productPrice = parseInt(productPriceString);
                totalPrice += productPrice;
            });

            $('.total-price').text(totalPrice.toLocaleString() + '원');
        }

        // 개별 상품의 가격을 계산하고 업데이트하는 함수
        function updateProductPrice(container) {
            var quantity = parseInt(container.find('.quantity-input').val());

            var pricePerUnitString = container.find('.salePrice').text().replace('원', '').replace(/,/g, '').trim();
            var pricePerUnit = parseInt(pricePerUnitString);

            var totalPrice = quantity * pricePerUnit;

            container.find('.product-price').text(totalPrice.toLocaleString() + '원');
        }

        // 초기에 총 가격 계산
        calculateAndUpdateTotalPrice();

        // 증가 버튼 클릭 이벤트
        $('.increment-btn').click(function () {
            var input = $(this).parent().find('.quantity-input');
            var currentValue = parseInt(input.val());
            input.val(currentValue + 1);
            updateProductPrice($(this).closest('.container-fluid'));
            calculateAndUpdateTotalPrice();
        });

        // 감소 버튼 클릭 이벤트
        $('.decrement-btn').click(function () {
            var input = $(this).parent().find('.quantity-input');
            var currentValue = parseInt(input.val());
            if (currentValue > 1) {
                input.val(currentValue - 1);
                updateProductPrice($(this).closest('.container-fluid'));
                calculateAndUpdateTotalPrice();
            }
        });
    });
</script>