<div class="container-fluid d-flex justify-content-center">
    <div class="col-sm-10 col-11">
        <div class="row align-items-center">
            <div class="col">
                <h4 class="mb-4 fw-bold">배송지 입력</h4>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-header bg-success text-white fw-bold">주문 내역</div>
            <div class="card-body">
                <div class="row mb-3">
                    <div th:each="product : ${order.products}">
                        <div class="row mb-2">
                            <div class="col">
                                <div>
                                    <span class="fw-bold text-success" th:text="${'('+product.brand+')'}"></span>
                                    <span class="fw-bold" th:text="${product.name}"></span>
                                    <span class="text-muted" th:text="${product.option}"></span>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="" th:text="${'x '+product.amount}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <h6 class="fw-bold mb-2">배송지</h6>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>배송지 선택</option>
                            <option th:each="address : ${order.addressList}"
                                    th:value="${address.id}"
                                    th:text="${address.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h6 class="fw-bold mb-2">요청사항</h6>
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInput" placeholder="요청사항 (선택)">
                            <label for="floatingInput">요청사항 (선택)</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row mt-3 mb-3">
                    <div class="col-6">
                        <h6 class="fw-bold">
                            총 가격
                        </h6>
                    </div>
                    <div class="col-6">
                        <h3 id="totalPrice" class="fw-bold text-end"
                            th:text="${#numbers.formatInteger(order.totalPrice,3, 'COMMA')+'원'}"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <button type="button" class="btn btn-success w-100 fw-bold">주문하기</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-secondary w-100 fw-bold" onclick="history.back()">취소</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
